!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title keyserve
    = stylesheet_includes
    = javascript_includes

  %body
    .top_nav_wrapper
      .container_12
        .grid_12
          = link_to_unless_current("home", "/")
          |
          = link_to_unless_current("add", "/add")
          |
          = link_to_unless_current("remote server", "/remote")

          %span{:style => 'display:block;float:right;'}
            = link_to 'Logout', '/logout'
      .clear

    .container_12
      .grid_12
        %h1 keyserve

      = yield
