= form_for @server, :html => {:id => 'server-form'} do |f|
  %fieldset
    = f.error_messages

    %ol
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :hostname
        = f.text_field :hostname
      %li
        = f.submit
