%h3 Add a User to a Server

:javascript
  $(function () {
    $('#server_user_user_id').change(function () {
      if ($('#server_user_server_id').val() != '') {
        $('#server_user_server_id').change();
      }
    });
    $('#server_user_server_id').change(function () {
      $.getJSON('/servers/' + $(this).val() + '/accounts?exclude=' + $("#server_user_user_id").val(), function (data) {
        var opts = "";
        _.each(data, function (el) { 
          opts += "<option value='"+ el[1] +"'>"+ el[0] +"</option>"; 
        });
        $('#server_user_account_id').html(opts);
        $('#server_user_account_id').attr('disabled', null);
      });
    });
  });

= form_for @server_user do |f|
  %fieldset
    = f.error_messages
    %ol
      %li
        Add 
        = f.select :user_id, @users_for_select, { :include_blank => true }
        to
        = f.select :server_id, @servers_for_select, { :include_blank => true }
        as
        = f.select :account_id, @accounts_for_select, {:include_blank => true}, :disabled => true
      %li
        = f.submit
  
