%h3 Add Account to #{ @server.hostname }

= form_for @account, :url => server_accounts_path(@server), :method => 'post' do |f|
  %fieldset
    = f.hidden_field :server_id
    = f.error_messages

    %ol
      %li
        = f.label :username
        = f.text_field :username
      %li
        = f.submit
